.categories {
    margin: 20px 0px;
    padding-inline: 10px;
    min-height: 126px;

    &__items {
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }
}