.dark {
    background-color: $backDark;
    color: $TextDark;

    .categoryBtn {
        color: $blackText;
    }

    .categoryBtn:hover {
        color: $TextDark;
    }

    .searchMovieForm__input {
        background-color: $backDark;
        color: $whiteText;

    }

    .menuMobile__content {
        background-color: $backDark;
    }

    .btnRight {
        color: white;
    }

    .btnLeft {
        color: white;
    }

    .selectLang {
        color: $TextDark;
        background-color: $backDark;
    }

    .initialLoader {
        background-color: $backDark;
    }

    .movieReviews{
        .MReview{
            background-color: $backDark;
            box-shadow: 0 2px 8px rgb(224 214 214 / 10%);
        }
    }

}