* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Mukta', sans-serif;
    font-size: 62.5%;
}

body {
    background-color: $background-color;
    color: $colorText;
    transition: all 0.2s ease;
}

header {
    padding-inline: 10px;
    max-width: 115rem;
    margin: 0 auto;
}

main {
    padding-inline: 10px;
    max-width: 115rem;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.4rem;
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: $primaryColor;
}

.show {
    animation: fadeIn 0.3s ease-in-out forwards;
    opacity: 1 !important;
    visibility: visible !important;
}

.skeleton {
    // border-radius: 12px;
    animation: bg-skeleton 1s linear infinite alternate;
    background-color: rgba(255, 255, 255, 0.05);
}

.resultsMoviesContainer {
    h2 {
        font-size: 2rem;
        margin: 12px 0;
    }
}

.btnRight {
    color: $secondaryColor;
    position: absolute;
    right: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btnLeft {
    color: $secondaryColor;
    position: absolute;
    left: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btnRight:hover,
.btnLeft:hover {
    transform: scale(2);
    color: $primaryColor;
}

.controlTheme {
    cursor: pointer;
}

@include media-up(ls) {

    h2 {
        font-size: 2.6rem;
    }

    p {
        font-size: 1.7rem;
    }

    .controlTheme {
        width: 36px;
        height: 36px;
    }
}